
// Text Styles
a:link, a:visited {
	color: #336699;
}

h1, h2, h3, h4, h5, h6 {
	// text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 1;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
	text-transform: uppercase;
	line-height: 1;
	color: #333;
	border-bottom: 1px solid #999;
	display: inline-block;
	padding-bottom: 5px;
}

h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
	// color: #000;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	// color: #000;
	text-decoration: underline;
}

.section-title {
	font-family: 'Forum', cursive;
	//font-size: 55px;
	font-weight: 400;
	text-align: center;
	padding: 30px 0 30px 0;
	margin: 0;

	i {
		display: block;
		font-size: 24px;
		margin-bottom: 10px;
	}
}

p.category  {
	background-color: #e31936;
	color: #fff;
	padding: 2px 5px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	display: inline-block;
	margin: 0;

	a {
		color: #fff;
	}
}

span.flag, span.tag {
	display: block;
}

.flag a {
	padding: 4px 5px;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0px;
	display: inline-block;
	margin: 0 0 .25rem 0;
	line-height: 1;
	border-width: 1px;
	border-style: solid;
	background-color: #f2f2f2;
	border-color: #d8d8d8;
	color: #369;
}



.tag a {
	padding: 4px 5px;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0px;
	display: inline-block;
	margin: 0;
	line-height: 1;
		border-width: 1px;
		border-style: solid;
		background-color: #369;
	border-color: #369;
	margin-right: 1px;
	margin-bottom: 1px;
	color: #fff;
}

.flag.ecn {

	a {
		color: #060;
	}
	
}

#sidebar {

	.textwidget .row {
		margin-bottom: 20px;
	}
	.section-title {
		//font-size: 36px;
		padding: 0;
		margin: 0 0 20px 0;
		text-align: center;

		span {
			border-bottom: 0;
		}
		
	}

	article {
		padding-bottom: 1.5rem;

		h3, h4, h5, h6 {
			margin-bottom: 0;
		}
	}

	article.tag-cloud {
		a {
			padding: 4px 5px;
			text-transform: uppercase;
			font-size: 11px;
			letter-spacing: 0px;
			display: inline-block;
			margin: 0;
			line-height: 1;
				border-width: 1px;
				border-style: solid;
				background-color: #369;
			border-color: #369;
			color: #fff;
				}
	}
}


// Tab Bar Section

nav.tab-bar {
	height: 4.8125rem;
}

nav.tab-bar .tab-bar-section.middle {

	.title {
		padding-top: 20px;

		img {
			max-width: 90%;
		}
	}
}

// Top Bar Section

.sticky.fixed {
	border-bottom: 1px solid #ccc;
	background-color: #fff;

	ul.top-bar-menu {
		border-bottom: 0;
	}
}


.contain-to-grid, .top-bar {
	background-color: #ffffff;
}

.top-bar-container {
	margin-bottom: 10px !important;
}

.top-bar-section{
	background: transparent;

 ul li {
	background: #fff;
	}
}

.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
	border-right: none;
}

.top-bar-section {

	ul li>a {
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
	}

	.has-dropdown>a {
		padding-right: 0.9375rem !important;
	}

	.has-dropdown>a:after {
		border: none;
		display: none;
	}

	.center-menu li:not(.has-form) a:not(.button) {
		background-color: #fff;
		color: #333;
		text-transform: uppercase;
		font-size: 13px;
	}

	.center-menu li.active:not(.has-form) a:not(.button) {
		background-color: #fff;
		// color: #fff;
	}

	.center-menu li:not(.has-form) a:not(.button):hover {
		color: #336699;
	}

	.center-menu li.active:not(.has-form) a:hover:not(.button) {
		background: #ffffff;
	}

	.center-menu .dropdown {

		border-top: 5px solid #333;

		li:not(.has-form):not(.active)>a:not(.button) {
			background: #eee;
			color: #333;
			font-weight: 700;
			text-transform: capitalize;
			text-align: left;
			border-bottom: 1px solid #fff;
		}

		li:not(.has-form):not(.active)>a:not(.button):hover {
			color: #666;
		}

		li.active:not(.has-form) a:not(.button) {
			text-transform: capitalize;
			color: #666;
			font-weight: 700;
		}

		.dropdown {
			border-top: 0;
			border-left: 1px solid #fff;
		}
	}

	ul.top-bar-menu {
		border-bottom: 5px solid #333;
	}



	

}

.top-bar.expanded {
	background: transparent !important;
}

.top-bar {
	text-align: center;
	background: #fff;

	ul.center-menu {
		display: inline-block;

		li.divider:first-child {
			display: none;
		}
	}


}

nav.tab-bar {
	background: #fff;

	.left-small {
		border-right: none;
	}

	.menu-icon span::after {
		box-shadow: 0 0 0 1px #333,0 7px 0 1px #333,0 14px 0 1px #333;
	}

	h1.title {
		padding: 5px;
	}
}



nav.small-nav {
	margin-top: 10px;
	padding: 0 0px 20px 0;

	button, .button {
		margin: 0;
	}
}

.title-area {

	margin-bottom: 10px;

	.name h1 a {
		background-color: #ffffff;
		text-align: center;
	}

}

.login {
	margin-right: 20px;
}

.login.open:after, .subscribe.open:after {
	content: "\f176";
}

.login:after, .subscribe:after {
	content: "\f199";
	font-family: "foundation-icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	text-decoration: inherit;
	padding-left: 3px;
}

a.search {
	display: inline-block;
	line-height: 30px;
}

.search-drop {

	input {
		margin: 0px;
	}
}


// Buttons

button, .button {
	background-color: #336699;
	color: #fff !important;
}

button a, .button a {
	color: #fff;
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: #003366;
}

a.button.readmore {
	background: transparent;
	color: #369 !important;
}


// Misc Styles

img.thumb {
	margin: 0 0 0.25rem 0;
}

hr.thick {
	border: solid #333;
    border-width: 5px 0 0;
    clear: both;
    height: 0;
    margin: 1.25rem 0 1.1875rem
}

.f-dropdown.content {
	outline: 0;
}

.social {

	margin-left: 20px;

	a {
		font-size: 30px;
		padding-left: 10px;
		line-height: 0;
	}
}

img.th {
	border: none;
	box-shadow: 0 0 0 0;
}

.download {
	margin: 0;
	background-color: #fff;
	padding: 5px;
	text-transform: uppercase;
	line-height: 0;
	display: inline-block;
	//border: 1px solid #000;

	a {
		color: #000;
		font-size: 12px;
		
	}
}

p.login-submit, p.login-remember {
	margin-bottom: 0;
}

.has-tip, .has-tip:hover, .has-tip:focus {
	border-bottom: none;
}

.tabs dd>a, .tabs .tab-title>a {
	outline: 0;
}

section.erc-section {
	//overflow: hidden;
	//border-top: 5px solid #000;
}

li.speaker {
	img {
		margin-bottom: 10px;
	}

	h6 {
		margin-bottom: 0;
	}

	div {
		line-height: 1.3;
		font-size: 85%;
	}
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	 iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// Article Styles

#featured-article article {

	header {
		// background-color: #333;
		//border-top: 1px solid #999;
		padding: 0px 0px 0px 0px;
		overflow: hidden;

	}	 

	.excerpt p {
		color: #333;
	}

}

article {

	.excerpt {

		p {
			font-size: 80%;
		}

	}

	.date, .small-caps {
		text-transform: uppercase;
		font-size: 12px;
		line-height: 12px;
		font-weight: bold;
	}

	header {
		//padding-top: 10px;
	}

	footer {
		background: transparent;
	}
}

.quaternary {
	margin-top: 20px;
}

.quaternary article {
	margin-bottom: 20px !important;

	.date {
		margin-top: 10px;
	}
}

.top-stories {

	article {
		
		header {

		}
	}

	.readmore {
		margin: 20px 0;
	}
}

.article-social {
	margin: 20px 0;
	// float: right;

	a {
		margin-right: 20px;

		i {
			font-size: 25px;
			margin-right: 5px;
			line-height: 0;
			float: left;
		}

		small {
			float: left;
			line-height: 25px;
		}

		.fi-social-facebook {
			color: #3b5998;
		}

		.fi-social-twitter {
			color: #4099FF;
		}

		.fi-mail {
			color: #222;
		}
	}
}

.single {

	article header {
		margin-bottom: 20px;

		.entry-title {
			clear: both;
		}
	}

	.entry-content {

		.row {
			margin-bottom: 20px;
		}
	}

	article footer {
		background: #fff;

		span.tag {
			margin-right: 5px;
		}
	}
}

.author-bio {
	padding-top: 20px;
	margin-top: 20px !important;
	border-top: 5px solid #333;

	.author-avatar {

		img {
			border-radius: 100%;
		}
	}

	.author-bio-text {

		p {
			clear: both;
		}

		ul.icons {


			li {
				line-height: 25px;
				list-style: none;
				font-size: 25px;
				margin-left: 10px;
			}
		}

	}


}


// Ad Styles

.ad-container {
	text-align: center;
	//background-color: #333;
	//padding: 20px 0;
	margin-bottom: 20px;
}


// Layout Styles

.container > div {
	//border-top: 5px solid #333;
	padding-top: 20px;
	margin-bottom: 20px;
}

footer.container > div {
	border-top: none;
	margin-bottom: 0;
}

.bottom > .row {
	//border-top: 5px solid #333;
	
}

.bottom {

	section {
		//margin-top: 20px;
		//border-top: 1px solid #ccc;
		//padding-top: 20px;
	}

	section:first-child {
		border-top: 0;
		padding-top: 0;
	}
}


// Sidebar/Widget Styles

.home #sidebar {
	margin-top: 30px;
}

#sidebar {

	article {
		border: 1px solid #d8d8d8;
		padding: 1.25rem;
		margin-bottom: 1rem;
	}

	.widget {
		//margin: 10px 0px 0 0px;
		

		.webinars, .events {

			h4 {
				margin-bottom: 5px;
			}

			.date {
				margin-bottom: 10px;
			}

		}

		.webinars {
			margin-bottom: 20px;
			//padding-bottom: 20px;
			border-bottom: 1px solid #ccc;
		}

		


		
	}

	.widget_adrotate_widgets {
			//padding-bottom: 10px;
			margin-bottom: 30px;
			margin-top: 30px;
			
		}

		.widget_adrotate_widgets:first-child {
			margin-top: 0px;
		}

	.box-ad {
		margin-top: 20px;
	}

	h5.section-title span::before {
		font-family: "foundation-icons";
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		text-decoration: inherit;
	}

	#text-2 h5.section-title span::before {
		//content: "\f180 \00a0";
	}

	#text-3 h5.section-title span::before {
		//content: "\f194 \00a0";
	}

	img.box-ad {
		display: block;
		margin: auto;
	}

	ul {
		margin-left: 0;

		li {
			list-style: none;
			margin-bottom: 1.1rem;
		}
	}
}

.widget {

	.widget_sp_image-description {

		p {
			margin: 10px 0 0 0;
			font-size: 85%;
			text-align: center;
			color: #666;
			line-height: 1.2;
		}
	}
}

.widget_sp_image {
	padding-top: 0px !important;

	border-top: 0 !important;

	.columns {
		padding: 0;
	}

	.section-title {
		display: none;
	}
}


// Publications

#publications {
	background-color: #ccc;
	margin-top: 30px;

	.row {
		padding: 20px 0;

		h5 {
			color: #336699;
		}
	}

	.sites {
		img {
			max-height: 26px;
			width: auto;
			display: block;
			margin: auto;
		}
	}
}


// Footer Styles

footer.panel {
	clear: both;
}

footer {

	background-color: #336699;
	color: #fff;
	font-size: 90%;

	.textwidget {

		text-align: center;

		a {
			color: #fff;
			display: block;
		}

		a:hover {
			color: #003366;
		}
	}

	ul.footer-nav {

		overflow: hidden;
		margin: 20px 0 0 0;

		li{
			list-style: none;
			float: left;
			width: 50%;
			text-align: center;

			a {
				color: #fff;
				font-size: 90%;
			}
		}
	}

	.widget {
		margin: 20px 0;

		h5 {
			color: #adbdd0;
			text-align: center;
		}

		.social a {
			display: inline-block;
		}
	}

	.social {
		margin-left: 0px;
	}

	.copyright {
		font-size: 80%;
		padding: 20px 0;
	}
}


// Sites

#sites {
	padding: 20px 0;
	margin-top: 0;
	border-top: 0;
	background-color: #333;

	h5 {
		color: #fff;
		margin-bottom: 20px;
	}
}


// Gravity Forms

div.registration-form {
	div.gform_wrapper {
		max-width: 100%;

		form {
			.gform_body {

				#gf_content_col_1, #gf_content_col_2 {
					border-left: 0 !important;

					ul.gform_fields {

						br {
							display: none;
						}
					}

					div:first-child {
						background-color: #fff !important;
						color: #222 !important;

						span {
							font-family: 'Raleway', sans-serif;
							font-weight: 600 !important;
							font-size: 1.125rem !important;
						}
					}

				}
			}
		}
	}
}

@media only screen and (min-width: 40.0625em) {
	nav.tab-bar {
		.tab-bar-section.middle {

			.title {

				img {
					max-width: 60%;
				}
			}
		}

	}
}


@media only screen and (min-width: 51.3125em) {
	nav.tab-bar {
		display: block;
	}

}


@media only screen and (min-width: 64.0625em) {

	nav.tab-bar {
		display: none;
	}

	.quaternary article {

		.date {
			margin-top: 0px;
		}
	}

}
