// Text Styles
a:link, a:visited {
	color: #336699;
}

h1, h2, h3, h4, h5, h6 {
	// text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 1.2;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
	text-transform: uppercase;
	line-height: 1;
	color: #333;
	border-bottom: 1px solid #999;
	display: inline-block;
	padding-bottom: 5px;
}

h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
	// color: #000;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	// color: #000;
	text-decoration: underline;
}

div.entry-content {
	.subheader {
		color: #222;
		font-weight: 600;
	}

}

small {
	font-size: 70%;
}

div.panel {
	background-color: #ffffff !important;
}

.section-title {
	font-family: 'Forum', cursive;
	//font-size: 55px;
	font-weight: 400;
	text-align: center;
	padding: 0px 0 30px 0;
	margin: 0;

	i {
		display: block;
		font-size: 24px;
		margin-bottom: 10px;
	}

	div.icon {
		
		background-position: center center;
		background-repeat: no-repeat;
	}

	.resources {
		padding-bottom: 24px;
		background-image: url(../images/icon-resources.png);
	}

	.whitepapers {
		padding-bottom: 40px;
		background-image: url(../images/icon-whitepapers.png);
	}

	.topstories {
		padding-bottom: 40px;
		background-image: url(../images/icon-topstories.png);
	}

	.registration {
		padding-bottom: 40px;
		background-image: url(../images/icon-registration.png);
	}

	.specialreports {
		padding-bottom: 40px;
		background-image: url(../images/icon-specialreports.png);
	}

	.ercs {
		padding-bottom: 40px;
		background-image: url(../images/icon-ercs.png);
	}
}

p.category  {
	background-color: #e31936;
	color: #fff;
	padding: 2px 5px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	display: inline-block;
	margin: 0;

	a {
		color: #fff;
	}
}

span.flag, span.tag {
	display: block;
}

span.flag a {
	padding: 4px 5px;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0px;
	display: inline-block;
	//margin: 0 0 .25rem 0;
	line-height: 1;
	border-width: 1px;
	border-style: solid;
	background-color: #f2f2f2;
	border-color: #ccc;
	color: #369;
}

span.tag a, .related-tags a {
	padding: 4px 5px;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0px;
	display: inline-block;
	margin: 0;
	line-height: 1;
		border-width: 1px;
		border-style: solid;
		background-color: #369;
	border-color: #369;
	margin-right: 1px;
	margin-bottom: 1px;
	color: #fff;
}

.flag.ecn {

	a {
		color: #060;
	}
	
}

#sidebar {

	.textwidget .row {
		margin-bottom: 20px;
	}
	.section-title {
		//font-size: 36px;
		padding: 0;
		margin: 0 0 20px 0;
		text-align: center;

		span {
			border-bottom: 0;
		}
		
	}

	article {
		padding-bottom: 1.5rem;

		h3, h4, h5, h6 {
			//margin-bottom: 0;
		}
	}

	article.tag-cloud {
		a {
			padding: 4px 5px;
			text-transform: uppercase;
			font-size: 11px;
			letter-spacing: 0px;
			display: inline-block;
			margin: 0;
			line-height: 1;
				border-width: 1px;
				border-style: solid;
				background-color: #369;
			border-color: #369;
			color: #fff;
				}
	}
}


// Tab Bar Section

nav.tab-bar {
	//height: 4.8125rem;
}

nav.tab-bar .tab-bar-section.middle {

	.title {
		padding-top: 20px;

		img {
			max-width: 90%;
		}
	}
}

// Top Bar Section

.sticky.fixed {
	border-bottom: 1px solid #ccc;
	background-color: #fff;

	ul.top-bar-menu {
		border-bottom: 0;
	}
}


.contain-to-grid, .top-bar {
	background-color: #ffffff;
}

.top-bar-container {
	margin-bottom: 10px !important;
}

.top-bar-section{
	background: transparent;
	width: 100%;

 ul li {
	background: #fff;


	}
}

.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
	border-right: none;
	display: none !important;
}

.top-bar-section {

	ul li>a {
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
	}

	.has-dropdown>a {
		padding-right: 0.9375rem !important;
	}

	.has-dropdown>a:after {
		border: none;
		display: none;
	}



	.center-menu li:not(.has-form) a:not(.button) {
		background-color: #fff;
		color: #333;
		text-transform: uppercase;
		font-size: 13px;
	}

	.center-menu li.active:not(.has-form) a:not(.button) {
		background-color: #fff;
		// color: #fff;
	}

	.center-menu li:not(.has-form) a:not(.button):hover {
		color: #336699;
	}

	.center-menu li.active:not(.has-form) a:hover:not(.button) {
		background: #ffffff;
	}

	.center-menu .dropdown {

		border-top: 5px solid #333;

		li:not(.has-form):not(.active)>a:not(.button) {
			background: #eee;
			color: #333;
			font-weight: 700;
			text-transform: none;
			text-align: left;
			border-bottom: 1px solid #fff;
		}

		li:not(.has-form):not(.active)>a:not(.button):hover {
			color: #fff;
			background-color: #369;
		}

		li.active:not(.has-form) a:not(.button) {
			text-transform: none;
			color: #fff;
			background-color: #333;
			font-weight: 700;
		}

		.dropdown {
			border-top: 0;
			border-left: 1px solid #fff;
		}
	}

	ul.top-bar-menu {
		border-bottom: 5px solid #333;
	}



	

}

.top-bar.expanded {
	background: transparent !important;
}

.top-bar {
	text-align: center;
	background: #fff;
	line-height: inherit !important;
	height: auto;

	ul.center-menu {
		display: inline-block;

		li.divider:first-child {
			display: none !important;
		}
	}


}

nav.tab-bar {
	background: #fff;
	float: left;

	.left-small {
		border-right: none;
		z-index: 2000;
	}


	.menu-icon {
		background-color: #222;

		span::after {
		box-shadow: 0 0 0 1px #fff,0 7px 0 1px #fff,0 14px 0 1px #fff;
	}
	}

	h1.title {
		padding: 5px;
	}
}

nav.middle {
	.title {
		margin-bottom: 20px;
	}
}

nav.small-nav {
	margin-top: 10px;
	padding: 0 0px 20px 0;

	button, .button {
		margin: 0;
	}
}

.title-area {

	margin-bottom: 10px;

	.name h1 a {
		background-color: #ffffff;
		text-align: center;
	}

}

#loginform {
	color: #222;
}

.login, .welcome {
	margin-right: 20px;
	color: #222;
}

.welcome-menu {
	clear: both;
	line-height: 1;

	a {
		font-size: 85%;
		display: inline-block;
		padding-right: 10px;
		line-height: 1;
	}

	a:first-child {
		border-right: 1px solid #ccc;
		margin-right: 10px;
	}
}

.login.open:after, .subscribe.open:after {
	content: "\f176";
}

.login:after, .subscribe:after {
	content: "\f199";
	font-family: "foundation-icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	text-decoration: inherit;
	padding-left: 3px;
}

a.search {
	display: inline-block !important;
	line-height: 30px;
}

.left-small {
	z-index: 200;
}

.search-drop {

	input {
		margin: 0px;
	}
}


// Buttons

button, .button {
	background-color: #336699;
	color: #fff !important;
	outline: 0;
}

button a, .button a {
	color: #fff;
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: #003366;
}

a.button.readmore {
	background: transparent;
	color: #369 !important;
}

#post-pagination a span.numbers {
	// border-radius: 100%;
	// padding: 0.875rem 0.9375rem;
 //    font-size: 0.8125rem;
 //    background-color: #336699;
 //    color: #fff !important;
 //    outline: 0;
 //    display: inline-block;
}

// Misc Styles

img.thumb {
	margin: 0 0 0.25rem 0;
}

hr {
	border: solid #ccc;
	border-width: 1px 0 0;
}
 

hr.thick {
	border: solid #333 !important;
    border-width: 5px 0 0;
    clear: both;
    height: 0;
    margin: 1.25rem 0 1.1875rem
}

.f-dropdown.content {
	outline: 0;
}

.social {

	

	a {
		font-size: 30px;
		padding: 0 5px;
		line-height: 0;
	}
}

img.th {
	border: none;
	box-shadow: 0 0 0 0;
}

.download {
	margin: 0;
	background-color: #fff;
	padding: 5px;
	text-transform: uppercase;
	line-height: 0;
	display: inline-block;
	//border: 1px solid #000;

	a {
		color: #000;
		font-size: 12px;
		
	}
}

p.login-submit, p.login-remember {
	margin-bottom: 0;
}

.has-tip, .has-tip:hover, .has-tip:focus {
	border-bottom: none;
}

.tabs dd>a, .tabs .tab-title>a {
	outline: 0;
}

.post-type-archive-whitepapers ul.tabs {
	//border-bottom: 1px solid #999;
	padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin-bottom: 0.9357rem !important;

}

.tabs dd.active a, .tabs .tab-title.active a {
	background-color: #333;
	color: #fff;
	//border-bottom: 1px solid #fff;
}

.tabs dd>a:hover, .tabs .tab-title>a:hover {
	background-color: #369;
	color: #fff;
}

.tabs dd>a, .tabs .tab-title>a {
	background-color: #ccc;
	margin-right: 1px;
	color: #333;
}

.tabs-content>.content {
	padding: 0.9375rem;
}

.tabs-content>.content.active {
	//border-width: 0px 1px 1px 1px; 
	//border-style: solid;
	//border-color: #999;
}

section.erc-section {
	//overflow: hidden;
	//border-top: 5px solid #000;
}

li.speaker {
	img {
		margin-bottom: 10px;
	}

	h6 {
		margin-bottom: 0;
	}

	div {
		line-height: 1.3;
		font-size: 85%;
	}
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	 iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


.erc-sponsors {

	ul {
		margin: 0;
	}


	li {
		padding-left: 10px;
		padding-right: 10px;
		display: inline-block;
		list-style: none;
	}


}

.posted-on {
	font-size: 85%;
}

// Article Styles

#featured {
	padding-bottom: 20px;
}

#featured-article article {

	header {
		// background-color: #333;
		//border-top: 1px solid #999;
		padding: 0px 0px 0px 0px;
		overflow: hidden;

	}	 

	.excerpt p {
		color: #333;
	}

}

article {

	.excerpt {

		p {
			font-size: 80%;
		}

	}

	.date {
		padding: 4px 5px;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 0px;
		display: inline-block;
		line-height: 1;
		border-width: 1px;
		border-style: solid;
		background-color: #f2f2f2;
		border-color: #ccc;
		color: #369;
		float: left;
	}

	.small-caps {
		text-transform: uppercase;
		font-size: 12px;
		line-height: 12px;
		font-weight: bold;
	}

	header {
		//padding-top: 10px;
	}

	footer {
		background: transparent;
	}
}

.quaternary {
	margin-top: 20px;
}

.quaternary article {
	margin-bottom: 20px !important;

	.date {
		margin-top: 10px;
	}
}

.top-stories {

	article {
		
		header {

		}
	}

	.readmore {
		margin: 20px 0;
	}
}

.article-social {
	margin: 20px 0;
	clear: both;

	a {
		margin-right: 20px;

		i {
			font-size: 25px;
			margin-right: 5px;
			line-height: 0;
			float: left;
		}

		small {
			float: left;
			line-height: 25px;
		}

		.fi-social-facebook {
			color: #3b5998;
		}

		.fi-social-twitter {
			color: #4099FF;
		}

		.fi-mail {
			color: #222;
		}
	}

	div.sharedaddy {
		float: left;
	}

	a.share-print {
	    background: #e9e9e9;
	    // margin-top: 2px;
	    text-indent: 0;
	    border-radius: 50%;
	    -webkit-border-radius: 50%;
	    border: 0;
	    box-shadow: none;
	    // padding: 8px;	    
	    color: #777;
	    line-height: 32px;
	    display: inline-block;
	    text-align: center;
	    width: 32px;
	    height: 32px;

	    i {
	    	font-size: 14px;
	    	float: none;
	    	margin-right: 0;
	    }
	}

	a.share-print:hover {
		opacity: .6;
	}
}

.single {

	article header {
		margin-bottom: 20px;

		.entry-title {
			clear: both;
			margin-top: 0;
		}
	}

	.entry-content {

		.row {
			margin-bottom: 20px;
		}
	}

	article footer {
		background: #fff;

		span.tag {
			margin-right: 5px;
		}
	}

	article footer.tags {
		a {
			margin-right: 5px;
		}
	}
}

.author-bio {
	padding-top: 20px;
	margin-top: 20px !important;
	border-top: 5px solid #333;

	.author-avatar {

		img {
			border-radius: 100%;
		}
	}

	.author-bio-text {

		p {
			clear: both;
			font-size: 80%;
		}

		ul.icons {


			li {
				line-height: 25px;
				list-style: none;
				font-size: 25px;
				margin-left: 10px;
			}
		}

	}


}


// YouTube

span.embed-youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
span.embed-youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


// Ad Styles

.ad-container {
	text-align: center;
	margin: 20px 0;
	padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}


// Layout Styles

.container > div {
	//border-top: 5px solid #333;
	//padding-top: 20px;
	margin-bottom: 20px;
}

footer.container > div {
	border-top: none;
	margin-bottom: 0;
}

.bottom > .row {
	//border-top: 5px solid #333;
	
}

.bottom {

	section {
		//margin-top: 20px;
		//border-top: 1px solid #ccc;
		//padding-top: 20px;
	}

	section:first-child {
		border-top: 0;
		padding-top: 0;
	}
}


// Sidebar/Widget Styles

.home #sidebar {
	margin-top: 30px;
}

#sidebar {

	.ad-container {
		margin-top: 0px;
		padding-left: 0;
		padding-right: 0;

		img {
			width: 100% !important;
			max-width: 100% !important;
			height: auto !important;
		}
	}

	article {
		border: 1px solid #ccc;
		padding: 1.25rem;
		margin-bottom: 1rem;
	}

	.widget {
		//margin: 10px 0px 0 0px;
		

		.webinars, .events {

			h4 {
				margin-bottom: 5px;
			}

			.date {
				margin-bottom: 10px;
			}

		}

		.webinars {
			margin-bottom: 20px;
			//padding-bottom: 20px;
			border-bottom: 1px solid #ccc;
		}

		


		
	}

	.widget_adrotate_widgets {
			//padding-bottom: 10px;
			margin-bottom: 30px;
			margin-top: 30px;
			
		}

		.widget_adrotate_widgets:first-child {
			margin-top: 0px;
		}

	.box-ad {
		margin-top: 20px;
	}

	h5.section-title span::before {
		font-family: "foundation-icons";
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		text-decoration: inherit;
	}

	#text-2 h5.section-title span::before {
		//content: "\f180 \00a0";
	}

	#text-3 h5.section-title span::before {
		//content: "\f194 \00a0";
	}

	img.box-ad {
		display: block;
		margin: auto;
	}

	ul {
		margin-left: 0;
		margin-bottom: 0;

		li {
			list-style: none;
			margin-bottom: 1.1rem;
		}

		li:last-child {
			margin-bottom: 0;
		}
	}

	.conferences ul li {
		margin-bottom: 0;
	}
}

.widget {

	.widget_sp_image-description {

		p {
			margin: 10px 0 0 0;
			font-size: 85%;
			text-align: center;
			color: #666;
			line-height: 1.2;
		}
	}
}

.widget_sp_image {
	padding-top: 0px !important;

	border-top: 0 !important;

	.columns {
		padding: 0;
	}

	.section-title {
		display: none;
	}
}


// Publications

#publications {
	background-color: #ccc;
	margin-top: 30px;

	.row {
		padding: 20px 0 0 0;

		h5 {
			color: #336699;
		}
	}

	.sites, .newsletters {
		article {
			margin-bottom: 20px;

		.widget_sp_image-description {
			text-align: center;
		}

		.tooltip {
			font-size: 80% !important;
		}
		
		.has-tip {
			font-weight: normal;
			font-size: 80%;
		}

		}

		img {
			max-height: 26px;
			width: auto;
			display: block;
			margin: auto;
		}
	}
}


// Footer Styles

footer.panel {
	clear: both;
}

footer {

	background-color: #336699;
	color: #fff;
	font-size: 90%;

	.textwidget {

		text-align: center;

		a {
			color: #fff;
			display: block;
		}

		a:hover {
			color: #003366;
		}
	}

	ul.footer-nav {

		overflow: hidden;
		margin: 20px 0 0 0;

		li{
			list-style: none;
			float: left;
			width: 50%;
			text-align: center;

			a {
				color: #fff;
				font-size: 90%;
			}
		}
	}

	.widget {
		margin: 20px 0;

		h5 {
			color: #adbdd0;
			text-align: center;
		}

		.social a {
			display: inline-block;
		}
	}

	.social {
		margin-left: 0px;
	}

	.copyright {
		font-size: 80%;
		padding: 20px 0;
	}
}


// Sites

#sites {
	padding: 20px 0;
	margin-top: 0;
	border-top: 0;
	background-color: #333;

	h5 {
		color: #fff;
		margin-bottom: 20px;
	}
}


// Collaboration Nation 

body.page.collaboration, body.page-template-collaboration-nation {

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		color: #e41c38;

		span {
			text-transform: capitalize;
			border-bottom: none;
		}
	}

#logo {
	max-height: 50px;
	margin-right: 0.9375rem;
}

section {
	padding: 20px 0 0 0;

}

section.home {
	margin-top: 20px;
}

.calendar {
	background-image: url(../images/calendar-icon.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 130px;
	height: 140px;
	margin: 20px auto 30px;
	line-height: 200px;
	
	span {
		text-align: center;
	    font-size: 30px;
	    font-weight: 600;
	    line-height: 30px;
	    display: inline-block;
		width: 100%;
		margin-top: 55px;
	}

}



footer {
	background: #231f20;
	padding: 30px 0;

	.star {
		width: 50px;
	}

	.collaboration-menu {
		margin: 0;
		float: left;
		height: 50px;
    	line-height: 50px;
    	margin-left: 10px;

		li {
			list-style: none;
			display: inline-block;

			a {
				color: #fff;
				font-size: 90%;
				border-right: 1px solid #fff;
				padding: 2px 5px 2px 0px;
			}

		}

		li.active:not(.has-form) a:not(.button) {
			color: #fff !important;
		}

		li:last-child {
			a {
				border-right: none;
			}
		}
	}
}

section.home {

	background-image: url(../images/star-bg.png);
	background-size: 400px;
	background-position: top center;
	background-repeat: no-repeat;

	.page-title {
		text-align: center;
		
		font-weight: 700;
	}
}



.winners {
	.page-title {
		color: #4d9dd6;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 5px solid #4d9dd6;

	}

	article {
		padding: 1rem;
		background-color: #d3e3f5;
		margin-bottom: 1rem;
		
		h6 a {
			color: #000;
		}

		iframe {
			display: block;
			margin: auto;
			padding-top: 1rem;
		}

		.readmore {
			font-weight: bold;
		}
	}
}

.judges {
	.page-title {
		color: #e41c38;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 5px solid #e41c38;
	}

	article {
		background-color: #feebcf;
		padding: 1rem;
		margin-bottom: 1rem;

		h5 {
			color: #000;
		}
	}

	article.odd {
		background-color: #fdddc7;
	}
}

.rules {
	.page-title {
		color: #f47f40;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 5px solid #f47f40;
	}

	#rules {
		position: relative;
	}

	.download-rules {
		font-family: 'Raleway', sans-serif;
		font-size: 1rem;
		font-weight: bold;
		color: #e41c38;
		background-image: url(../images/PDF-icon.png);
		background-repeat: no-repeat;
		background-position: right center;
		position: absolute;
		top: -25px;
		right: 0;
		padding-right: 75px;
		height: 75px;
		line-height: 75px;
	}

	.content {
		h6 {
			color: #000;
		}

		padding-top: 2rem;
	}

}

.faqs {
	.page-title {
		color: #75499b;
		border-bottom: 5px solid #75499b;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
	}

	div.faq {
		margin: 2rem 0;
	}
}

.about-us {
	.page-title {
		color: #fab441;
		border-bottom: 5px solid #fab441;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
	}
}

#recent-entries {

	.slick-slide {
		padding: 0 5px;
	}

	.video {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;

	 iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

}

div.social {
	margin-left: 0.9375rem;
	line-height: 50px;

	a {
		color: #fff;
		font-size: 24px;
		width: 32px;
		height: 32px;
		line-height: 32px;
		display: inline-block;
		border-radius: 2px;
		text-align: center;

	}

	.twitter {
		background: #00a9e0;
	}

	.facebook {
		background: #1f58a0;
	}
}

a.twitter {
		color: #fff;
		font-size: 24px;
		width: 32px;
		height: 32px;
		line-height: 32px;
		display: inline-block;
		border-radius: 2px;
		text-align: center;
		background: #00a9e0;
	}

nav.top-bar {
position: relative;
padding: 5px 0;
// background: transparent;
background: rgba(255,255,255,0.8);

	.top-bar-section {

		// ul>.divider, ul>[role="separator"] {
		// 	border-right: solid 1px #4c4c4c;
		// }

		ul li {
			background: transparent;
		}

		ul li>a {
			font-weight: 400;
			color: #4c4c4c;
			font-family: inherit;
		}

		li:not(.has-form) a:not(.button) {
			background: transparent;
			padding: 0;

			span {
				padding: 3px 0.9375rem;
				border-right: 1px solid #4c4c4c;
			}
		}

		li.active:not(.has-form) a:not(.button) {
			color: #4c4c4c !important;
		}

		li:last-child {
			span {
				border-right: none !important;
			}
		}
		

		.sponsored-by {
			position: absolute;
			right: 10px;
			top: -0.9375rem;
			background-color: #ffffff;
			padding: 20px;
			max-width: 200px;
		}
	}

}

header {
	background: #fff;
	background-size: cover;
	background-position: center center;
	background-image: url(../images/collaboration-banner.jpg);
	height: 620px;
	position: relative;
	margin-bottom: 50px;
	
	img.text {
		position: absolute;
		bottom: 10px;
	}


}

.partnerships {
	ul li {
		text-align: center;
		width: 25%;

		img {
			max-height: 50px !important;
    		width: auto;
		}
	}
}

.buttons-container {
		// max-width: 1045px;
		// width: 1000px;
	    margin: -120px auto 0;
	    z-index: 9999;
	    position: relative;

		ul.button-menu {
			margin:0;
			width: 80%;

			li {
				text-align: center;
			    list-style: none;
			    display: inline-block;
			    width: 15%;

				img {
					position: relative;
				}

				span {
					display: block;
					text-align: center;
				}

				a {
					display: block;
					width: 80%;
				}
			}

			.home a {
				color: #6cbd45;
			}

			.prizes a {
				color: #4d9dd6;
			}

			.judges a {
				color: #e74b4a;
			}

			.rules a {
				color: #f47f40;
			}

			.faq a {
				color: #75499b;
			}

			.about a {
				color: #fab441;
			}
		}

		.submit-button {
			width: 15%;
    		text-align: center;
    		margin-top: -30px;
    		color: #4c4c4c;

    		img {
    			// width: 75%;
    		}

    		span {
    			width: 100%;
    			text-align: center;
    			padding-top: 5px;
    			display: block;
    		}
		}

		.menu-icon {
			width: 15%;
			text-align: center;
		}
	}

	div.submission {
		ul {
			margin: 0;
			li {
				list-style: none;
				padding-left: 5px;
				margin-bottom: 5px;
				font-size: 90%;
			}
		}
	}

	div.twitter {
		h4 {
			margin: 0;
		}
	}


}

body.page.collaboration header {
	height: 550px !important;

}


// Gravity Forms

div.registration-form {
	div.gform_wrapper {
		max-width: 100%;

		form {
			.gform_body {

				#gf_content_col_1, #gf_content_col_2 {
					border-left: 0 !important;

					ul.gform_fields {

						br {
							display: none;
						}
					}

					div:first-child {
						background-color: #fff !important;
						color: #222 !important;

						span {
							font-family: 'Raleway', sans-serif;
							font-weight: 600 !important;
							font-size: 1.125rem !important;
						}
					}

				}
			}
		}
	}
}

@media only screen and (min-width: 40.0625em) {
	nav.tab-bar {
		.tab-bar-section.middle {

			.title {

				img {
					max-width: 60%;
				}
			}
		}

	}

	ul.center-menu li {
		float: none;
		display: inline-block;
	}

}


@media only screen and (min-width: 51.3125em) {
	nav.tab-bar {
		display: block;
	}

	

	

}


@media only screen and (min-width: 64.0625em) {

	nav.tab-bar {
		//display: none;
	}

	nav.top-bar .top-bar-section ul.center-menu li {
		float: left;

	}

	.quaternary article {

		.date {
			margin-top: 0px;
		}
	}

}

@media print {

	div.name {
		img {
			width: 50%;
			margin: auto;
		}		
	}

	a[href]:after {
    content: none !important;
  }

  footer, footer.container .copyright {
  	color: #000 !important;
  }

  div.mobile-search, nav.middle, section.small-nav, nav.tab-bar, #sidebar, #publications, .ad-container, footer.container .row, section.top-bar-section {
  	display: none !important;
  }


}
